* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans',  sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(0, 174, 255, 0.2), rgba(255, 255, 255, 0.6));
}

a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

        /* List stiff at footer*/

footer {
justify-content: center;
text-align: center;
background-color: #2a2a40;
color: aliceblue;
box-shadow: 10px 9px 10px rgba(0, 0, 0, 0.5);
}

        /* Figure images and text */



.blog-container {
    display: flex;
    flex-direction:row;
    margin: 60px 1px;
    margin-top: 300px; 
    width: 100%;
    gap: 350px;
    justify-content: space-evenly;
}

.boxtxt {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    width: 300px;
    height: 131px;
    overflow: hidden;
    word-spacing: normal;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}


.musk1:not(input) {
    background-color: rgba(249, 179, 0, 0.2);
    font-weight: bold;
    width: 300px;
    margin-top: 5px;
}

input {
    align-items: left;
    color: red;
    background-color: rgba(0, 174, 255, 0.5, 0.9),;
    margin-bottom: 100px;
}

img:not(#logo) {
    height: 200px;
    width: auto;
    max-width: 100%;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
}

figcaption {
    text-align: center;
    margin-bottom: 3px ;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
}

        /* Boring Blog Text and Content */

h1 {
    text-align: center;
    max-width: 90%;
    margin: 150px auto;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px white;
}

.blogheadertxt {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-style: italic;
    line-height: 5;
    width: 90%;
    margin: 5px auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 18px;
} 

.blog-border {
    border-bottom: 1px solid #ccc;
    margin-bottom: -5px;
    padding: 10px;
    width: 80%;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  }

        /* Header img and links */

.blogtbs {
    text-align: right;
    max-width: 95%;
    position: relative;
    top: 95px;
}

#logo {
    max-width: 400px;
    max-height: 200px;
    aspect-ratio: 35 / 4; 
    text-align: left;
    max-width: 95%;
    position: absolute;
}

header {
    margin: -35px auto;
}

        /* List stiff at footer*/

footer {
    justify-content: center;
    text-align: center;
    background-color: #2a2a40;
    color: aliceblue;
    }
        /* Interactivity  */

.aboutus:hover {
    color: green;
    transition: ease-in 0.5;
}

.contactus:hover {
    color: green;
    transition: ease-in 0.5;
}

.pricing:hover {
    color: green;
    transition: ease-in 0.5;
}

.pricing:active{
    color: red;
    transition: ease-out 0.5;
}

.aboutus:active{
    color: red;
    transition: ease-out 0.5;
}

.contactus:active{
    color: red;
    transition: ease-out 0.5;
}

@media only screen and (max-width: 767px) {
    /* Styles for mobile devices */
    * {
       box-sizing: border-box;
       overflow-x: hidden;   
    }
    
    .blog-container {
        /* overflow-y: scroll; */
    }
  }
  
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Styles for tablets */
    * {
        box-sizing: border-box;
        overflow: hidden;   
     }
     .blog-container {
        max-width: 100px;
        max-height: 100px;
        overflow-y: scroll;
     }
    }
  
  
  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    /* Styles for small laptops */
    * {
        box-sizing: border-box;
        overflow-x: hidden;   
     }
  }
  
  
  @media only screen and (min-width: 1280px) and (max-width: 1439px) {
    /* Styles for medium laptops */
    * {
        box-sizing: border-box;
        overflow-x: hidden;   
     }
  }
  
  
  @media only screen and (min-width: 1440px) {
    /* Styles for large laptops and desktops */

  }
