* {
    padding: 0px;
    margin: 0 auto; 
    box-sizing: border-box;
    max-width: 1440px;
    font-family: 'Noto Sans',  sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(0, 174, 255, 0.2), rgba(255, 255, 255, 0.6));
}

header {
    margin-top: 10px;
}

h1 {
    text-align: center;
    margin-top: 150px;
    border-bottom: 1px solid black;
    max-width: 80%;
}

a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}

.list {
    font-size: large;
    text-align: center;
    max-width: 1200px;
    margin-top: -200px;
}

li {
    list-style: none;
}

footer {
justify-content: center;
background-color: #2a2a40;
}



.boxtxt {
    width: 74%;
    justify-content:center;
    word-spacing: normal;
    text-align: start;
    -webkit-text-size-adjust: auto;
}



.musk1 {
    justify-content: center;
    margin-left: 55px;
    background-color: rgba(249, 179, 0, 0.2);
    margin-right: 55px;
    font-weight: bold;
}
figcaption {
    text-align: center;
}



.publish1 {
    text-align: right;
    font-weight: 500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 60px;
}

#blogbtn1 {
    text-align: center;
    margin-left: 55px;
    margin-top: 80px;
    color: rgba(104, 2, 92, 0.99);
    background-color: floralwhite;
    border-radius: 50px;    
}

#blogbtn3 {
    text-align: center;
    margin-left: 55px;
    margin-top: 58px;
    color: rgba(104, 2, 92, 0.99);
    background-color: floralwhite;
    border-radius: 25px;    
}

#blogbtn2 {
    text-align: center;
    margin-left: 55px;
    margin-top: 102px;
    color: rgba(104, 2, 92, 0.99);
    background-color: floralwhite;
    border-radius: 50px;    
}

input {
    margin: 100px auto;
    color: red;
    display: inline-block;
}


.blogheadertxt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: -250px;
    font-style: italic;
    line-height: 4;
    width: 90%;
    -webkit-text-size-adjust: auto;
}

.blogtbs {
    text-align: right;
    margin-bottom: -25px;
}

.image-container {
    display: flex;
    flex-direction:row;
    margin: 600px auto; 
    width: 90%;
}

#elon1, #elon2, #elon3  {
    max-height: 400px;
    margin: 0px 55px; 
    max-width: 325px;
    min-width: 100px;
    word-spacing: normal;
    justify-content: center;
}


#logo {
    max-width: 300px;
    aspect-ratio: 35 / 4; 
    margin-right: 400px; 
    margin-bottom: -65px;
    text-align: left;
}

        /* Interactivity  */
.aboutus:hover {
    color: green;
    transition: ease-in 0.5;
}

.contactus:hover {
    color: green;
    transition: ease-in 0.5;
}

.pricing:hover {
    color: green;
    transition: ease-in 0.5;
}

.pricing:active{
    color: red;
    transition: ease-out 0.5;
}

.aboutus:active{
    color: red;
    transition: ease-out 0.5;
}

.contactus:active{
    color: red;
    transition: ease-out 0.5;
}

    /* responsiveness on mobile */
   
@media only screen and (min-width: 312px) and (max-width: 766px) {
    .image-container{
        overflow-y: scroll;
        margin-left: -5px;
        text-overflow: ellipsis;
        -webkit-text-size-adjust: auto;
    }

    #logo {
        margin-top: -55px;
        margin-bottom: 20px;
        margin-left: 40px;
        align-items: center;
        text-align: center;
    }

    .blogtbs {
        margin-top: -50px;  
        margin-right: 40px;
        align-items: center;
    }

    .blogheading {
        margin-top: -110px;
        align-items: center;
        text-align: center;
    }

}

@media only screen and (max-width: 767px) {
    .image-container{
        overflow-y: scroll;
    }

}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .image-container{
        overflow-y: scroll;
    }

}


@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .image-container{
        overflow-y: scroll;
    }
}


@media only screen and (min-width: 1280px) and (max-width: 1439px) {
    
}
